:root{
    --morado-oscuro: #150722;
    --morado-intermedio: #230B39;
    --morado-claro: #352347;
    --naranja: #FCA311;
    --gris: #D6D6D6;
    --blanco: #FFFFFF;
}

/* atributos Generales */
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mensajeDeErrores{
    width: 90%;
    display: none;
    justify-self: center;
    background-color: white;
    height: 48px;
    align-items: center;
    align-self: center;
    border-radius: 5px;

    padding: 10px 30px;
    box-sizing: border-box;
    border-left: solid 10px red;
    border-right: solid 1px red;
    border-bottom: solid 1px red;
    border-top: solid 1px red;

}

.errores{
    color: var(--naranja);
    margin: 0
}

.incompleto{
    border-color: red;
    background-color: rgb(246, 137, 137);
    
    outline-color: red;
    
}
.advertencia{
    border-color: rgb(255, 179, 0);
    background-color: rgb(244, 235, 154);
    
    outline-color:  rgb(255, 179, 0);
    
}


.valido{
    border-color: green;
    background-color: rgb(162, 248, 150);
  
    outline-color: green;
}

.titulos-seccion{
    width: 100%;
    margin-top: 35px;
    margin-bottom: 25px;
    font-weight: bold;
}

.points{
    margin: 10px;
}

/* TITULO */

.titulo-producto{
    background-color: var(--gris);
    width: 85%;
    margin-bottom: 5px;
}
.titulo-producto h2{
    color: var(--morado-claro);
    width: 90%;
    margin: 20px auto;
}

/* contenedor formulario */
.content-form{
    width: 85%;
    background-color: var(--morado-claro);
    padding: 10px 50px;
    box-sizing: border-box;
    margin-bottom: 120px;
}

.content-form form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Img */
.imagenes{
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Marcas */

.marca{
    display: flex;
    flex-direction: column;
    color: var(--blanco);
}

/* descripcion-caracteristicas */

.descripcion-caracteristicas{
    display: flex;
    flex-direction: column;
    color: var(--blanco);
    width: 100%;
}

.descripcion-caracteristicas textarea{
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}
/* Categoria */

.categoria{
    display: flex;
    flex-direction: column;
    color: var(--blanco);
}

/* MetodosPago */

.metodosPago{
    display: flex;
    flex-direction: column;
    color: var(--blanco);
}

/* colores */

/* .colores{
    display: flex;
    flex-direction: column;
    color: var(--blanco);
} */

/* precio */

.precio{
    display: flex;
    flex-direction: column;
    color: var(--blanco);
    width: 100%;
}

.precio input{
    max-width: 280px;
}

/* Boton */

.style-boton{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    cursor: default;
    flex-wrap: wrap;
}

.style-boton button{
    font-weight: lighter;
    font-size: 20px;
    height: 41px;
    width: 45%;
    max-width: 150px;
    margin: 80px 0;
    border-radius: 12px;
    border: 0px;
    color: var(--morado-claro);
    background-color: var(--gris);
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    cursor: pointer;
}

@media (min-width: 768px){

    /* general */
    .points{
        width: 100%;
    }
    .titulo-producto{
        width: 80%;
    }
    /* form */
    .content-form{
        width: 80%;
    }
    .content-form form{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    /* img */
    .imagenes{
        width: 48%;
    }
    /* marca */
    .marca{
        width: 48%;
    }
    /* descripcion-caracteristica*/
    .descripcion-caracteristicas{
        width: 48%;
    }
    /* categoria */
    .categoria{
        width: 48%;
    }
    /* metodos de pago */

    .metodosPago{
        flex-direction: row;
        flex-wrap: wrap;
        width: 48%;
    }

    /* colores */
    /* .colores{
        flex-direction: row;
        flex-wrap: wrap;
        width: 48%;
    } */

    /* precio */
    .precio{
        width: 48%;
    }

    /* botones */

    .style-boton{
        width: 100%;
    }
}

@media (min-width: 1279px){
    .points{
        width: 45%;
    }

    .style-boton{
        justify-content: center;
    }
    .style-boton button{
        margin: 80px 20px;
    }
}