:root{
  --morado-oscuro: #150722;
  --morado-intermedio: #230B39;
  --morado-claro: #352347;
  --naranja: #FCA311;
  --gris: #D6D6D6;
  --blanco: #FFFFFF;
}

.emergente{
  background-color: rgba(0,0,0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
 
  
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  
}
.show{
  display: flex;
  
}
.contenedorEmergente{
  background-color: var(--gris);
  padding: 33px;
  width: 80%;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.contenedorEmergente h1{
  margin: 0;
  margin-bottom: 2rem;
}
.form-imgPrincipal{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: .5rem;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  background-position: center;
    background-size: cover;
  
}
.emergente .grupos .bloque-edicion{
  width: 40vh;
  max-width: 100px;
  height: 40vh;
  max-height: 100px;

  
}
.emergente .grupos .bloque-edicion::before{
  padding-bottom: 100%;
}
 
.emergente .grupos {
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.container{
  background-color: var(--morado-claro);
  display: flex;
  flex-direction: column;
  padding: 5%;
  width: 80%;
  border-radius: 10px;
  border: var(--gris) solid 1px;

}
.products-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
  }
.titulo{
  display: flex;
  text-align: center;
  justify-content: center;
}  
  
  .products-title {
    font-size: 2rem;
    font-weight: 400;
    color: var(--naranja);
    margin: 0;
    margin-bottom: 1rem;
  }
.col-12{
  display: flex;
  width: 80%;
  align-self: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.col-12 form{
  display: flex;
    /* flex-direction: column; */
  
    width: 100%;
    flex-wrap: wrap;
}

.grupos{
  display: flex;
  flex-direction: column;
  width: 100%;
}

  .bloque-edicion{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    width: 100%;
    
  }
  .form-label{
    font-size: 1.2rem;
    color: var(--blanco);
    align-items: center;

  }
  .form-input{
    width: 90%;
    margin-top: .5rem;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    height: 48px;
    box-sizing: border-box;
    background-color: var(--blanco);
  }

  .form-img{
    display: flex;
    justify-content: space-between;
    height: 70px;
  }
  .botonAddImg{
    border: #150722 dashed 1px;
    border-radius: 5px;
    display: flex;
    width: calc(100%/7);
    justify-content: center;
    align-items: center;
  }
  .contenedorImg{
    display: flex;
    width: calc(100%/7*5.8);
    /* justify-content: space-between; */
    justify-content: flex-end;
  }
  .divPreImg{
    display: flex;
    width: calc(100%/5);
    background-position: center;
    background-size: cover;
    margin-left: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white
  }
  .divPreImg div{
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(255, 0, 0, 0.267);
  }
  .divEliminar{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .botonAddImg:hover{
    background-color: rgba(128, 128, 128, 0.492);
  }
  .form-textarea{
    width: 90%;
    margin-top: .5rem;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    height: 4rem;
    resize: none;
  }
  .botonGuardar{
    display: flex;
    align-self: center;
    width: 180px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: 15px;
    color: black;
    font-weight: bolder;
    background-color: var(--na1);
    border: 0px;
    margin-top: 10px;
  }
  .botonGuardar:hover{
    background-color: var(--blanco);
  }
  @media (min-width: 1024px) {
    .grupos{
      flex-direction: row;
      justify-content: space-around;

    }
    .emergente .grupos .bloque-edicion{
      width: 15%;
    }

    .contenedorEmergente{
      
      width: 60%;
      
    }
    
    
  }

  