*{
  box-sizing: border-box;
}
:root{
   --morado-oscuro: #150722;
   --morado-intermedio: #230B39;
   --morado-claro: #352347;
   --naranja: #FCA311;
   --gris: #D6D6D6;
   --blanco: #FFFFFF;
}


body{
  background: url(/img/Fondo.jpg);
}

main{
  display: flex;
  flex-wrap: wrap;
}


/* ImgPrincipal */

#imgPrincipal {
  width: 100%;
  height: 450px;
  background-image: url(https://i.3djuegos.com/juegos/3405/_articulos_/fotos/articulos/_articulos_-5578362.webp);
  background-position: center;
  background-size: cover;
}

/* #imgPrincipal img {
  width: 100%;
  display: block;
  max-height: 562px;
} */

/* seccion logos de marca */
#seccionLogosMarca {
  margin: 72px auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 80%;
}

.porLogo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 12px;
  margin: 12px 0px;
  text-decoration: none;
  color: var(--blanco);
}

.porLogo :hover {
  color: var(--naranja);
}

.contenedor-por-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s;
}

.iconMarca {
  width: 50%;
  font-size: 67px;
}

.porLogo h3 {
  margin: 0px;
  width: 50%;
}

.porLogo p {
  width: 60%;
  margin: 6px 0px;
  font-size: 12px;
}


/* Descripcion -texto - includes */

/* consolaPorSeccion */

.consolaPorSeccion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: var(--morado-intermedio);
  margin-top: 300px;
  margin-bottom: 120px;
  padding-top: 100px;
}

.caja-items-seccion {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

/* img consolaPorSeccion*/

.item-img-seccion {
  position: absolute;
  top: -300px;
  height: 320px
}

.item-img-seccion div {
  height: 100%;
}
.container-img-nintedo{
  width: 100%;
  height: none;
}

.item-img-seccion img {
  display: block;
  height: 100%;
}

.item-img-seccion {
  display: block;
  height: 100%;
}

.img-nintendo{
  background: url(../img/ImgHome/Nintendo-Switch.png);
  background-size: cover;
  background-position: center;
  width: 240px;
  height: 100%;
}
/* Texto consolaPorSeccion */

.item-text-seccion {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.item-text-seccion h2 {
  color: var(--blanco);
}

.item-text-seccion p {
  color: var(--gris)
}

/* caja reversa - consola por seccion */

.caja-items-reverse {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}


.item-img-reverse {
  position: absolute;
  top: -300px;
  height: 320px;
}

.item-img-reverse div {
  height: 100%;
}


.item-img-reverse img {
  display: block;
  height: 100%;
}

/* boton vermas */

.botonVermas button {
  font-size: 20px;
  font-weight: lighter;
  height: 41px;
  width: 170px;
  margin: 30px 0;
  border-radius: 12px;
  border: 0px;
  color: var(--morado-claro);
  font-weight: 600;
  background-color: var(--gris);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: all 0.2s;
}

.botonVermas button:hover {
  background-color: var(--naranja);
}

.botonVermas {
  cursor: default;
}

/* Img-final */

#imgFinal {
  width: 100%;
  height: 480px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 140px;
  margin-top: 120px;
  background-image: url('/img/ImgHome/group-of-teenage-friends-playing-video-games-together-at-home.jpg');
  background-size: cover;
  background-position: center;
}

.item-img-final {
  width: 100%;
  display: block;
  opacity: 32%;
}
/* 
.item-img-final img {
  width: 100%;
  height: 100%;
} */

.item-text-final {
  position: absolute;
  width: 80%;
  top: 30px;
  color: var(--blanco);
  text-shadow: 1px -1px 2px black;
}



@media (min-width:768px) {

  #imgPrincipal img {
    display: block;

  }

  /* seccion logos de marca */

  #seccionLogosMarca {
    justify-content: space-between;
    width: 75%;
  }

  .porLogo {
    width: 25%;
  }

  /* IMG FINAL */
  .item-text-final {
    position: absolute;
    width: 70%;
    top: 30px;
  }

  .item-img-final {
    max-height: 600px;
  }

  .img-nintendo{
    width: 458px;
    max-height: 250px;
  }
}

@media (min-width:1279px) {

  /* ImgPrincipal */

  #imgPrincipal img {
    display: block;
  }

  /* seccion logos de marca */

  #seccionLogosMarca {
    justify-content: space-between;
    width: 70%;
  }

  .porLogo {
    width: 30%;
  }

  /* consolaPorSeccion */

  .consolaPorSeccion {
    padding: 30px 0;
  }

  .caja-items-seccion {
    width: 60%;
    justify-content: flex-end;
  }


  .item-img-seccion {
    position: absolute;
    top: auto;
    bottom: 0px;
    left: 0px;
    height: 500px;
    width: 50%;
  }

  .item-img-seccion div {
    position: absolute;
    right: 40px;
  }


  .item-img-seccion img {
    display: block;
  }

  .item-text-seccion {
    width: 50%;
    align-items: flex-start;
    text-align: start;
  }


  /* caja reversa - consola por seccion */

  .caja-items-reverse {
    flex-direction: column-reverse;
    width: 60%;
  }


  .item-img-reverse {
    position: absolute;
    top: auto;
    bottom: 0px;
    right: 0px;
    height: 500px;
    width: 50%;
  }

  .item-img-reverse div {
    position: absolute;
    left: 40px;
    height: 100%;
  }

  .item-text-final {
    position: absolute;
    width: 70%;
    top: 30px;
  }

  .item-img-final {
    height: 100%;
    max-height: 700px;
  }

  .img-nintendo{
    width: 460px;
    max-height: 360px;
    top: 128px
  }
}

@media(min-width:1920px) {

  /* ImgPrincipal */

  #imgPrincipal img {
    display: block;
    max-height: 600px;
  }

  #imgFinal{
    max-height: 780px;
  }
  .img-nintendo{
    width: 650px;
  }
}