:root {
    --morado-oscuro: #150722;
    --morado-intermedio: #230B39;
    --morado-claro: #352347;
    --naranja: #FCA311;
    --gris: #D6D6D6;
    --blanco: #FFFFFF;
    --na1: #FF6D00;
}

main {
    display: flex;
    width: 100%;
    flex-direction: column;
}




/* escoje la marca */

#escogeMarca {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#labelEscoge {
    color: var(--na1);
    align-self: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 85px;
}

#labelEscoge h5,
h2 {
    margin-top: 0px;
    text-align: center;
}

#marcas {
    display: flex;
    padding: 1rem 1rem;
    height: 3.5rem;
    justify-content: space-around;
    align-items: center;
    background-color: var(--morado-intermedio)
}

.porLogo {
    display: flex;
    color: black;
    height: 100%;
    width: 32%;

}

.iconMarca {
    height: 100%;
    width: 100%;
    font-size: 3rem;
    text-align: center;
    cursor: default;
}

.btn{
    color: var(--gris);
    cursor: pointer;
}

.iconMarca i:hover{
    color: var(--na1);
}
.selected{
    color: var(--na1);
}

/* matriz */

#matriz {
    display: flex;
    width: 90%;
    align-self: center;
    padding: 40px 0px;
    align-items: center;
    flex-direction: column;
}

/* filtros */

#filtros {
    display: flex;
    width: 80%;
    flex-direction: column;
}

#filtros .check {

    list-style: none;
    text-decoration: none;
    width: 100%;
    align-self: center;

}

#filtros h3 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.contenedorFiltros {
    display: flex;
    padding: 30px 0px;
    margin-bottom: 20px;
    flex-direction: column;
    color: var(--gris);
    border-bottom: solid 1px var(--gris)
}








/* lista */

.bloqueProducto {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    width: 80vw;
    text-decoration: none;
    color: black;
    margin: 10px;
}
.imgPrincipal{
    width: 80vw;
    height: 80vw;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#lista {
    display: flex;
    width: 80%;
    flex-direction: column;


}

.imgNuProductos img {
    width: 100%;
}

.separador {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* Nuestros productos */
#bloque:hover {
    /* box-sizing: border-box; */
    /* animation-name: seleccion;
  animation-duration: 100ms; */
    transform: scale(1.05, 1.05);
}
#bloque{
    margin: 10px;
}
.contenedor-usuarios-impar {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
    width: 90%;
    
}

/* si son tres */

.contenedor-usuarios-par {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
    width: 90%;
    justify-content: center;
    
}

.transparente{
    background-color: rgba(0, 0, 0, 0);  
}

@keyframes seleccion {

    50% {
        transform: scale(1.05, 1.05);
    }
    100% {
        transform: scale(1.5, 1.5);
    }

}

/* Descripcion -texto */

.descripcion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    background-color: rgb(200, 200, 200);
}

.estrellas {
    font-size: 12px;
    width: 100%;
}

.descripcion h4 {
    margin: 5px 0px;
    width: 100%;
}

.descripcion p {
    width: 100%;
    margin: 0px;
}

.iconosAbajo {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: end;
}

.iconosAbajo i {
    padding-left: 10px;
}

@media (min-width: 600px) {
    .contenedor-usuarios-impar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        align-self: flex-start;
        justify-content: center;
    }
    .contenedor-usuarios-par {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        align-self: flex-start;
        justify-content: center;
    }
    .imgPrincipal{
        width: 23vw;
        height: 23vw;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .bloqueProducto {
        width: 23vw;
    }

    #filtros {
        flex-direction: row;
        justify-content: space-around;
    }

    .contenedorFiltros {
        width: 30%;
    }
}

@media (min-width: 1024px) {

    .bloqueProducto {
        width: 16vw;
    }
    .imgPrincipal{
        width: 16vw;
        height: 16vw;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    #escogeMarca {
        flex-direction: row;
        flex-wrap: wrap;
        background-color: var(--morado-intermedio);

    }

    #labelEscoge {
        display: flex;
        width: 34%;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 30px;
    }



    #matriz {
        flex-direction: row;
        width: 80%;
    }

    #filtros {
        flex-direction: column;
        width: 25%;
        align-self: flex-start;
    }

    .contenedorFiltros {
        width: 100%;
    }

    #marcas1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 47%;
    }

    #marcas {
        width: 100%;
    }

}

@media(min-width: 1200px){
    .bloqueProducto{
        width: 12vw;
    }
    .imgPrincipal{
        width: 12vw;
        height: 12vw;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}