<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Titillium+Web:wght@300;400;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/partialsCss/carrusel.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Island</title>
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <!-- /* ImgPrincipal */ -->

            <section id="imgPrincipal">
                <!-- <img src="https://i.3djuegos.com/juegos/3405/_articulos_/fotos/articulos/_articulos_-5578362.webp"
                    alt=""> -->
            </section>
            <!-- /* seccion logos de marca */ -->
            <section id="seccionLogosMarca">

                <!-- Primero play -->
                <a href="/productos/results?company=playstation" class="porLogo">
                    <div class="contenedor-por-logo">
                        <div class="iconMarca">
                            <i class="fa-brands fa-playstation"></i>
                        </div>
                        <h3>Play Station</h3>
                        <p>Busca tu consola o accesorios de Play Station.</p>
                    </div>
                </a>
                <!-- Segundo xbox -->

                <a href="/productos/results?company=xbox" class="porLogo">
                    <div class="contenedor-por-logo">
                        <div class="iconMarca">
                            <i class="fa-brands fa-xbox"></i>
                        </div>
                        <h3>Xbox</h3>
                        <p>Busca tu consola o accesorios de Xbox.</p>
                    </div>
                </a>

                <!-- Tercero nintendo -->

                <a href="/productos/results?company=nintendo" class="porLogo">
                    <div class="contenedor-por-logo">
                        <div class="iconMarca">
                            <i class="fa-solid fa-gamepad"></i>
                        </div>
                        <h3>Nintendo</h3>
                        <p>Busca tu consola o accesorios de Nintendo.</p>
                    </div>
                </a>
            </section>

            <!-- Nuestros productos -->

            <%- include('./partials/carrusel') %>

            <!-- /* consolaPorSeccion */ -->

            <!-- Play -->
            <section class="consolaPorSeccion">
                <div class="caja-items-seccion">
                    <div class="item-img-seccion">
                        <div>
                            <img src="/img/ImgHome/Play station 5.png" alt="">
                        </div>
                    </div>
                    <div class="item-text-seccion">
                        <h2>Play Station</h2>
                        <p>PlayStation renovó las expectativas del mundo virtual 
                            con esta nueva consola y su gran rendimiento. Cuenta 
                            con una interfaz de usuario más rápida y fácil de navegar 
                            que en anteriores modelos. Además, podrás jugar durante horas
                             desafiando a millones de contrincantes alrededor del mundo que esperan nuevos retos.</p>
                        <a href="/productos/results?company=playstation" class="botonVermas">
                            <button>Ver más</button>
                        </a>
                    </div>
                </div>

            </section>

            <!-- Xbox -->
            <section class="consolaPorSeccion">
                <div class="caja-items-reverse">
                    <div class="item-img-reverse">
                        <div>
                            <img src="/img/ImgHome/Xbox_Series_X (2).png" alt="">
                        </div>
                    </div>
                    <div class="item-text-seccion">
                        <h2>Xbox Series X</h2>
                        <p>La nueva generación de consolas está comandada por la Xbox Series que 
                            llegó al mercado para sorprender a todos. Su potencia y alto rendimiento 
                            te permitirá reducir las horas de descarga de juegos y contenido de manera
                             considerable en comparación con otras consolas. Además, vas a poder jugar 
                             durante horas mientras te diviertes con jugadores de todo el mundo.</p>
                        <a href="/productos/results?company=xbox" class="botonVermas">
                            <button type="submit">Ver más</button>
                        </a>

                    </div>
                </div>

            </section>
            <!-- Nintendo -->

            <section class="consolaPorSeccion">
                <div class="caja-items-seccion">
                    <div class="item-img-seccion">
                        <div class="">
                            <div class="img-nintendo"></div>
                        </div>
                    </div>
                    <div class="item-text-seccion">
                        <h2>Nintendo Switch Oled</h2>
                        <p>Switch se convirtió en una de las consolas más versátiles 
                            del mercado gracias a su uso portátil y de sobremesa. Nintendo 
                            desarrolló este modelo con el objetivo de tener todas las 
                            comodidades de la tecnología de elite en un aparato portátil 
                            con el que podrás jugar y disfrutar de diverso contenido online.</p>
                        <a href="/productos/results?company=nintendo" class="botonVermas">
                            <button type="submit">Ver más</button>
                        </a>

                    </div>
                </div>

            </section>

            <!-- img final -->
            <section id="imgFinal">
                <div class="item-text-final">
                    <h2>Disfruta de nuestras consolas</h2>
                    <p>Disfruta de la mejor experiencia de juegos competitivos y cooperativos en las consolas
                        PlayStation,
                        Xbox y Nintendo.</p>
                </div>
                <!-- <div class="item-img-final">
                    <img src="/img/ImgHome/group-of-teenage-friends-playing-video-games-together-at-home.jpg"
                        alt="">
                </div> -->
            </section>
        </main>
        
        <%- include('./partials/footer') %>
        <%- include('./partials/notificacion-carrito') %>
</body>

</html>