<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Titillium+Web:wght@300;400;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Island</title>
</head>

<body>
    <%- include('./partials/header') %>
    <main>
        <div class="caja_principal">
            <div class="caja_izq">
                <a href="/" style="margin: -12px;">
                    <button class="boton-atras">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                </a>
                <div class="logo">
                    <img src="/img/logoMoradoBlanco.jpg" alt="">
                </div>
                <h2>Iniciar seción</h2>
                <form action="/user/login" method="POST" class="formulario-email-contrasena">

                    <div class="email-contrasena">
                        <label for="Email">Email</label> <br>
                        <input type="email" name="email" id="Email" value="<%=locals.old && old.email ? old.email : null%>"> <br>
                        <%if(locals.errores && errores.email){%>
                            <div class="errores"><%=errores.email.msg%></div>
                        <%}%>
                    </div>

                    <div class="email-contrasena">
                        <label for="Contrasena">Contraseña</label><br>
                        <input type="password" name="contrasena" id="contrasena"> <br>
                        <%if(locals.errores && errores.contrasena){%>
                            <div class="errores"><%=errores.contrasena.msg%></div>
                        <%}%>
                    </div>
                    <input type="checkbox" name="recordarUsuario">
                    <label>Recordar usuario</label>

                    <div class="boton">
                        <button type="submit">Iniciar</button>
                    </div>

                </form>
                <div class="parrafo-cambio-registro">
                    <p>¿Aún no te has registrado? <a href="/user/register">Registrate</a></p>
                </div>
            </div>
            <div class="caja_der">
                <div class="img-der">
                    <img src="/img/ImgHome/fortnite-g8ef7a9b92_1280 (2).jpg" alt="">
                </div>
            </div>
        </div>
    </main>
</body>

</html>