.tarjeta{
    display: flex;
    width: 30%;
    max-width: 360px;
    height: 120px;
    border-radius: 15px;
    border-left: solid 6px var(--naranja);
    justify-content: space-between;
    background-color: var(--morado-claro);
}
.info-tarjeta{
    display: flex;
    flex-flow: column nowrap;
    color: var(--naranja);
    padding-top: 20px;
    margin-left: 30px;
}
.info-tarjeta h2{
    color: white
}
.icon-tarjeta{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}
.icon-tarjeta i{
    font-size: 35px;
    color: rgba(220, 220, 220, 0.355);
}
