<div class="productoDescPrimera">
    <div class="imgNuProductos">
        <a href="/productos/detalle-producto">
            <img class="js-modal-product-cover product-cover-modal" width="800" src="/img/productos/<%= productosJSON[i].image %>" alt="" title="" itemprop="image">
        </a>
    </div>
    <div class="descripcion">
        <div class="estrellas">
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
        </div>
        <a href="/productos/detalle-producto" class="nombre-producto">
            <h4><%= productosJSON[i].name  %></h4>
        </a> 
        <p>$ <%= productosJSON[i].price %></p>
        <div class="iconosAbajo">
            <a href="#">
                <i class="fa-regular fa-heart"></i>
            </a>
            <a href="#">
                <i class="fa-solid fa-share-nodes"></i>
            </a>
            <a href="#">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
    </div>
</div>