<section class="pruductosLinea">

    <h2>Nuestros productos</h2>

    <div class="productoEnFila">
        <div class="productoDescPrimera">
            <div class="imgNuProductos">
                <a href="/productos/detalle-producto">
                    <img class="js-modal-product-cover product-cover-modal" width="800"
                        src="https://demo.codezeel.com/prestashop/PRS15/PRS150365/img/p/7/5/75-large_default.jpg"
                        alt="" title="" itemprop="image">
                </a>
            </div>
            <div class="descripcion">
                <div class="estrellas">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <a href="/productos/detalle-producto" class="nombre-producto">
                    <h4>Producto</h4>
                </a>
                <p>$50.000</p>
                <div class="iconosAbajo">
                    <a href="#">
                        <i class="fa-regular fa-heart"></i>
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-share-nodes"></i>
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="productoDescSegunda">
            <div class="imgNuProductos">
                <a href="/detalle-producto">
                    <img class="js-modal-product-cover product-cover-modal" width="800"
                        src="https://demo.codezeel.com/prestashop/PRS15/PRS150365/img/p/7/6/76-large_default.jpg"
                        alt="" title="" itemprop="image">
                </a>
            </div>
            <div class="descripcion">
                <div class="estrellas">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <a href="/productos/detalle-producto" class="nombre-producto">
                    <h4>Producto</h4>
                </a>
                <p>$50.000</p>
                <div class="iconosAbajo">
                    <a href="#">
                        <i class="fa-regular fa-heart"></i>
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-share-nodes"></i>
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="productoDescTercera">
            <div class="imgNuProductos">
                <a href="/detalle-producto">
                    <img class="js-modal-product-cover product-cover-modal" width="800"
                        src="https://demo.codezeel.com/prestashop/PRS15/PRS150365/img/p/7/5/75-large_default.jpg"
                        alt="" title="" itemprop="image">
                </a>
            </div>
            <div class="descripcion">
                <div class="estrellas">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <a href="/productos/detalle-producto" class="nombre-producto">
                    <h4>Producto</h4>
                </a>
                <p>$50.000</p>
                <div class="iconosAbajo">
                    <a href="#">
                        <i class="fa-regular fa-heart"></i>
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-share-nodes"></i>
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="productoDescCuarta">
            <div class="imgNuProductos">
                <a href="/detalle-producto">
                    <img class="js-modal-product-cover product-cover-modal" width="800"
                        src="https://demo.codezeel.com/prestashop/PRS15/PRS150365/img/p/7/6/76-large_default.jpg"
                        alt="" title="" itemprop="image">
                </a>
            </div>
            <div class="descripcion">
                <div class="estrellas">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <a href="/productos/detalle-producto" class="nombre-producto">
                    <h4>Producto</h4>
                </a>
                <p>$50.000</p>
                <div class="iconosAbajo">
                    <a href="#">
                        <i class="fa-regular fa-heart"></i>
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-share-nodes"></i>
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>