<header>
    <div id="header">
        <nav>
            <a href="/" class="contendor-logo">
                <div id="logo">
                    <img src="/img/nuevoLogo.jpg" alt="logo" id="logoCompleto">
                    <img src="/img/logoCel.jpg" alt="logo" id="logoCel">
                </div>
            </a>
            <div id="navegacion">
                <div id="barraBusqueda">
                    <div class="input-barra-busqueda">
                        <i class="fa-solid fa-magnifying-glass navButton"></i>
                        <input autocomplete="off" type="search" placeholder="Busca aquí..." id="search">
                    </div>
                    <div class="predicciones">
                    </div>
                </div>
                <div id="listaNavegacion">
                    <ul>
                        <li><a href="/">Inicio </a></li>
                        <li><a href="/productos">Productos </a></li>
                        <li><a href="#footer">Contacto</a></li>
                    </ul>
                </div>
            </div>
            <div class="iconos">
                <div class="navButton carrito" >
                    <a href="/carrito-compras"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <div class="container-login">
                    <div class="img-profile-pequeno login"></div>
                    <div class="menu-desplegable">
                        <div class="contenedor-img-profile">
                            <div class="img-profile-menu"></div>
                            <div class="detalle-usuario-menu"></div>
                        </div>
                        <div class="opciones">
                            <div class="opciones-general opciones-menu">
                                <a href="#">
                                    <i class="fa-solid fa-house"></i>
                                    <p>Compras</p>
                                </a>
                                <a href="#">
                                    <i class="fa-solid fa-box-archive"></i>
                                    <p>Vender</p>
                                </a>
                            </div>
                            <div class="opciones-general opciones-usuario">
                                <a href="#" class="opcion-mi-perfil">
                                    <i class="fa-solid fa-user"></i>
                                    <p>Mi perfil</p>
                                </a>
                                <a href="#">
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                    <p>Salir</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navButton barras">
                    <a href="#"><i class="fa-solid fa-bars"></i></a>
                </div>
                <div class="container-logout">
                    <div class="navButton boton-user logout">
                        <a href="/user/login"><i class="fa-solid fa-user"></i></a>
                    </div>
                    <div class="menu-desplegable">
                        <div class="opciones">
                            <div class="opciones-general opciones-usuario">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-desplegable-celular">
                <div class="contenedor-img-profile">
                    <div class="img-profile-menu"></div>
                    <div class="detalle-usuario-menu"></div>
                </div>
                <div class="opciones">
                    <div class="opciones-general opciones-menu">
                        <a href="#" class="opcion-inicio">
                            <i class="fa-solid fa-house" ></i>
                            <p>Inicio</p>
                        </a>
                        <a href="#" class="opcion-productos">
                            <i class="fa-solid fa-box-archive"></i>
                            <p>Productos</p>
                        </a>
                        <a href="#" class="opcion-contacto">
                            <i class="fa-solid fa-phone"></i>
                            <p>Contacto</p>
                        </a>
                    </div>
                    <div class="opciones-general opciones-usuario">
                        <a href="#" class="opcion-mi-perfil">
                            <i class="fa-solid fa-user"></i>
                            <p>Mi perfil</p>
                        </a>
                        <a href="#">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            <p>Salir</p>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<script src="/js/header.js"></script>