<link rel="stylesheet" href="/css/partialsCss/notificacion-carrito.css">
<div id="mensaje" class="mensajeNone">
<h4></h4>
<div id="punta" class="puntaNone"></div>
</div>
<div class="contenedorNotificacion">
   
    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
    <div class="alarma">
        <p></p>
        
    </div>
    
</div>
<script src="/js/alarmaCarrito.js"></script>