<link rel="stylesheet" href="/css/partialsCss/notificacion-carrito.css">
<div class="contenedorNotificacion">
    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
    <div class="alarma">
        <p></p>
    </div>
</div>
<script src="/js/alarmaCarrito.js"></script>