.pruductosLinea{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    background-color: var(--morado-oscuro);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 65px 0px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.097);
  }

  .imgNuProductos{
    width: 100%;
  }
  .pruductosLinea img{
    width: 100%;
    display: block;
  }
  
  .pruductosLinea h2{
    color: var(--blanco);
    width: 100%;
    text-align: center;
  }
  
  .productoEnFila{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 60%;
  }
  .bloque:hover{
    transform: scale(1.05, 1.05);
  }
  
  .producto0{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    text-decoration: none;
    color: black;
  }
  
  .producto1{
    display: none;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    text-decoration: none;
    color: black;
  }
  
  .producto2{
    display: none;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    text-decoration: none;
    color: black;
  }
  
  .producto3{
    display: none;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    text-decoration: none;
    color: black;
  }
  /* Descripcion -texto */

.descripcion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    background-color: var(--morado-intermedio)
  }
  
  
  .estrellas {
    color: var(--naranja);
    font-size: 12px;
    width: 100%;
  }
  
  .nombre-producto{
    text-decoration: none;
    width: 100%;
    color: var(--blanco);
    transition: all 0.2s;
  }
  .nombre-producto h4 {
    margin: 8px 0px;
  }
  
  .nombre-producto:hover{
    color: var(--naranja);
  }

  /* Descripcion -texto */
  
  .descripcion p {
    color: var(--blanco);
    width: 100%;
    margin: 0px;
  }
  
  .iconosAbajo {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: end;
  }
  
  .iconosAbajo a{
    color: var(--naranja);
  }
  
  .iconosAbajo a:hover{
    color: var(--blanco);
  }
  
  .iconosAbajo i {
    padding-left: 10px;
  }

@media (min-width: 768px){

    .productoEnFila{
        width: 75%;
    }

    .producto0{
        width: 32%;
    }
    .producto1{
        display: flex;
        width: 32%;
    }
    .producto2{
        display: flex;
        width: 32%;
    }
}

@media (min-width: 1279px){
    .productoEnFila{
        width: 80%;
    }
  
    .producto0{
        width: 24%;
    }
    .producto1{
        display: flex;
        width: 24%;
    }
    .producto2{
        display: flex;
        width: 24%;
    }
    .producto3{
        display: flex;
        width: 24%;
    }
  
}