.info-tablero{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 84vw;
    height: 85vh;
    background-color: var(--gris);
}
.info-tablero h2{
    color: var(--naranja);
}

.info-tablero-row{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    width: 100%;
    height: 100%;
    align-items: center;
}

.info-tablero-row h3{
    width: 90%;
}
